body {
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
.link--cta {
    color: aquamarine;
    font-size: 16px;
  }
  
.header--main {
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: normal;
  }
.header--second {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
  }

.header--third {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
  }

/* footer */

.footer {
    text-align: right;
    color: gray;
}